/* tailwind config */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-backgrounddark p-0 m-0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html,
body,
h3,
h4,
p {
  @apply font-body text-gray-100;
}

h1,
h2 {
  @apply font-title text-gold;
}

@layer components {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* .has-tooltip {
    @apply relative;
  } */

  .tooltip {
    @apply invisible absolute z-50;
  }

  .has-tooltip:hover .tooltip {
    @apply visible;
  }
}
