/* tailwind config */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-backgrounddark p-0 m-0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html,
body,
h3,
h4,
p {
  @apply font-body text-gray-100;
}

h1,
h2 {
  @apply font-title text-gold;
}

@layer components {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
